/* Clear default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
}

#ball-bounding-area {
  background: #333;
  border-radius: 3px;
  box-shadow: inset 0px 0px 7px 10px #444, /* Inner raised rim */
    inset 0px 0px 5px 17px #2A2A2A, /* Inner shadow */
    0px 0px 5px 5px #444, /* Outer raised rim */
    0px 0px 7px 10px #2A2A2A; /* Outer shadow */
  height: calc(100vh - 100px);
  margin: 30px auto 70px;
  position: relative;
  width: 90vw;
}

.ball {
  background: #888;
  border-radius: 50%;
  box-shadow: inset 2px 2px 8px 0px #0008, /* Inner top left shadow */
    inset -2px -2px 8px 0px #0008; /* Inner bottom right shadow */
    /* 0px 0px 2px 0px #0008; /* Outer shadow */
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

#test-ball {
  background: linear-gradient(35deg, #F00, #0FF);
}
