/* Clear default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #888;
}

#ball-bounding-area {
  background: #333;
  height: 500px;
  margin: 50px auto;
  position: relative;
  width: 500px;
}

.ball {
  border-radius: 50%;
  height: 50px;
  left: 50px;
  position: absolute;
  top: 100px;
  width: 50px;
}

#test-ball {
  background: linear-gradient(35deg, #F00, #0FF);
}
