/* Clear default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
}

#ball-bounding-area {
  background: #333;
  border-radius: 3px;
  box-shadow: inset 0px 0px 7px 10px #444, /* Inner raised rim */
    inset 0px 0px 5px 17px #2A2A2A, /* Inner shadow */
    0px 0px 5px 5px #444, /* Outer raised rim */
    0px 0px 7px 10px #2A2A2A; /* Outer shadow */
  height: 500px;
  margin: 50px auto;
  position: relative;
  width: 500px;
}

.ball {
  border-radius: 50%;
  box-shadow: inset 2px 2px 8px 0px #0003, /* Inner top left shadow */
    inset -2px -2px 8px 0px #0003, /* Inner bottom right shadow */
    0px 0px 1px 1px #0003; /* Outer shadow */
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

#test-ball {
  background: linear-gradient(35deg, #F00, #0FF);
}
